.container {
  margin: 0 auto;
  max-width: 1440px;
}
.header-background {
  background: #333333;
  width: 100%;
}
.main-title {
  color: white;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-align: center;
}
.jobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  gap: 60px;
  padding: 62px 210px;
  box-sizing: border-box;
  background: white;
}
.red {
  border: 10px solid #e30413;
  flex: calc((100% / 3) - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  height: fit-content;
  width: 100%;
  padding: 18px 17px;
}
.green {
  border: 10px solid #3ea535;
  flex: calc((100% / 3) - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  height: fit-content;
  width: 100%;
  padding: 18px 17px;
}
.yellow {
  border: 10px solid #ffee00;
  flex: calc((100% / 3) - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  height: fit-content;
  width: 100%;
  padding: 18px 17px;
}
.blue {
  border: 10px solid #039fe3;
  flex: calc((100% / 3) - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  height: fit-content;
  width: 100%;
  padding: 18px 17px;
}
.pink {
  border: 10px solid #f8c5af;
  flex: calc((100% / 3) - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  height: fit-content;
  width: 100%;
  padding: 18px 17px;
}
.box-ratio {
  height: 0;
  width: 100%;
  padding-top: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.job-title {
  color: #000000;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 400;
  line-height: 35.16px;
  max-width: 246px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.info {
  color: #000000;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: cover;
  max-width: 246px;
}
.footer-background {
  background: #dddddd;
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.credits {
  font-family: "Roboto";
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  text-align: center;
}
.credits a {
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}
@media (max-width: 1340px) {
  .job-title {
    font-size: 24px;
    line-height: 30px;
  }
}
@media (max-width: 1230px) {
  .job-title {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
  }
  .info {
    font-size: 16px;
  }
}
@media (max-width: 1160px) {
  .jobs {
    padding: 30px 100px;
  }
  .red {
    flex: 100%;
  }
  .green {
    flex: 100%;
  }
  .yellow {
    flex: 100%;
  }
  .blue {
    flex: 100%;
  }
  .pink {
    flex: 100%;
  }
  .box-ratio {
    padding-top: 30%;
  }
  .job-title {
    font-size: 30px;
    line-height: 35px;
    max-width: 671px;
  }
  .info {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .jobs {
    padding: 20px 70px;
  }

  .box-ratio {
    padding-top: 25%;
  }
}
@media (max-width: 610px) {
  .jobs {
    padding: 20px 30px;
    gap: 30px;
  }
  .job-title {
    font-size: 22px;
    line-height: 26px;
  }
  .red {
    padding: 10px 10px;
  }
  .green {
    padding: 10px 10px;
  }
  .yellow {
    padding: 10px 10px;
  }
  .blue {
    padding: 10px 10px;
  }
  .pink {
    padding: 10px 10px;
  }
}
